.chat-box{
    padding: 30px 20px;
    top: 0;
    left: 350px;
    width: calc(100% - 350px);
    min-height: 100vh;
    position: relative;
    background-color: #242424;
}
.texts{
    padding-bottom:  150px; 
}
.person-text , .gpt-text{
    padding: 10px;
    background-color: rgba(107, 102, 102, 0.5);
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: white;
    border-radius: 20px;
    width: 500px;
}
.gpt-text{
    width: 85%;
}
.person-text h4 , .gpt-text h4 {
    margin-top: 15px;
    line-height: 1.4;
}
.person-text img , .gpt-text img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
h4.text{
    white-space: pre-wrap;
    width: 100%;
}
.input-box{
    width: 90%;
    background-color: rgba(107, 102, 102);
    padding: 20px 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);
    bottom: 0;
    border-radius: 20px;
    z-index: 8;
}
.input-box input{
    padding: 15px 10px;
    width: 100%;
    border-radius: 20px;
    border: 0;
    color: white;
    background: #000;
    font-size: 17px;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    color: white;
    display: none;
    cursor: pointer;
}
.input-box i.active{
    display: block;
}
.loading{
    display: none;
    align-items: center;
    gap: 5px;
}
.loading.active{
    display: flex;
}
.loading span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    animation: pulse 1s infinite ease-in-out;
}
.loading span:nth-child(1) {
    animation-delay: 0s;
}
.loading span:nth-child(2) {
    animation-delay: 0.2s;
}
.loading span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    0%, 80%, 100% {
        transform: scale(0.6);
        opacity: 0.5;
    }
    40% {
        transform: scale(1.2);
        opacity: 1;
    }
}
@media screen and (max-width:786px) {
    .chat-box{
        width: 100%;
        left: 0;
    }
    .texts{
        width: 100%;
    }
    .texts .gpt-text , .texts .person-text{
        width: 100%;
    }
}