
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .4s ease;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}
.container{
  width: 100%;
}